# Android/IntelliJ
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.claude
.superpowers
stitch
docs

# Gradle
.gradle/
**/build/

# Log
*.log

# Misc
*.class
*.apk
*.ap_
